*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 8px;
    perspective-origin: 50%;
}
.back{
    transform: translateZ(0px);
}
.gear {
    position: absolute;
    top: 70%;
    right: 30%;
    transform: translateZ(4px) scale(0.5);
}
.grear img {
    width: 200px;
}
.back img{
    height: 3000px;
}
.front {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateZ(3px) scale(0.625);
}
h1 {
    font-size: 35px;
}