body {
    background-image: url("./rocket.png"),url("./earth.png"), url("./space2.png");
    background-size: auto, 20%, auto;
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: 30% 20%, center, 0 center;
    animation-name: space;
    height: 100vh;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes space {
    to {
        background-position: 25% 50%, center, -1024px center;
    }
}