h1::before {
    content: "H1.";
}
h1::after {
    content: ".";
}

a {
    text-decoration: none;
    color: darkgreen;
    font-size: 1.3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
}
a::after {
    content: "";
    height: 3px;
    display: block;
    background-color: darkorange;
    transform: scaleX(0) ;
    transition: transform 0.3s;
    width: 100%;
    position: absolute;
}
a:hover::after{
    transform: scaleX(1);
}
